h1, #button1, #button2, .container{
    display: flex;
    justify-content: center;
}

#button2, #button1{
    margin-top: 10px;
}

#parentDiv{
    display: flex;
    width: 800px;
    height: 800px;
    border: 2px solid;
    flex-direction: column;
    
}

.biggerChild{
    flex-grow: 1;
    flex-basis: auto;
    display: flex;
}

.smallerChild{
    flex-basis: auto;
    flex-grow: 1;
    border: 1px solid;
}

.smallerChild:hover{
    background-color: gray;
}